@layout MainLayout
@inherits LayoutComponentBase

<footer class="footer bg-white border-top text-muted">
    <ul id="contacts" class="icons">
        <li class="container text-dark">
            &copy; 2023 - Sergey Sychev
        </li>
    </ul>
</footer>